{% extends 'base.html.twig' %}

{% block title %}Chocolate{% endblock %}

{% block classBody %}<body class="sub_page">{% endblock %}
	
{% block body %}

</div>

<!-- chocolate section -->

<section class="chocolate_section layout_padding">
	<div class="container">
		<div class="heading_container">
			<h2>
				Our chocolate products
			</h2>
			<p>
				Many desktop publishing packages and web pagend web page editors now use Lorem Ipsum as their
			</p>
		</div>
	</div>
	<div class="container">
		<div class="chocolate_container">
            {% if chocolates %}
                {% for chocolate in chocolates %}
                    {{ include ('partials/_chocolate_data.html.twig', {'chocolate': chocolate }) }}
                {% endfor %}
            {% endif %}
		</div>
	</div>
</section>

<!--Añadir chocolate-->

{% if is_granted('ROLE_ADMIN') %}
<section id="boton-contenedor">
	<a href="{{ path('new_chocolate') }}" id="boton">New</a>
</section>
{% endif %}

<!-- end chocolate section -->

{% endblock %}
