<div class="box">
	<div class="img-box">
		<img src="{{ asset('images/' ~ chocolate.file) }}" alt="">
	</div>
	<div class="detail-box">
		<h6>
			{{ chocolate.name }}
			<span>chocolate</span>
		</h6>
		<h5>
			${{ chocolate.price }}
		</h5>
		<a href="{{ path('individual_chocolate', { 'id': chocolate.id }) }}">
			See more...
		</a>
	</div>
</div>
