{% extends 'base.html.twig' %}

{% block title %}Chocolate{% endblock %}

{% block classBody %}<body class="sub_page">{% endblock %}
	
{% block body %}

</div>

<h1>New Chocolate</h1>

{{ form(form) }}

{% endblock %}